<%- include("./partials/head") -%>
<%- include("./partials/header") -%>
<!-- <link rel="icon" href="/public/img/taskapp.png"> -->
<head>
  <link rel="icon" href="/img/taskapp.png">
</head>
  <div class="hero-cont">
        <h1>Task-Manager App</h1>
        <a href="/users/tasks"><button type="button" class="start-btn">My Tasks</button></a>
      </div>
      <div class="popup">
        <p>Account successfully deleted.</p>
      </div>
    </div>
    <canvas class="background"></canvas>
<%- include("./partials/footer") -%>
